.page-hall {
  height: 100%;

  .hall-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .dm {
      position: absolute;
      z-index: 1003;
      left: 0;
      bottom: 2rem;

      .hall-note {
        display: inline-flex;
        color: #fff;
        padding: 0.1rem;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0 0.4rem 0.4rem 0;
        margin-bottom: 0.05rem;

        .lw-title {
          display: flex;
          flex-direction: column;

          .lw-name {
            font-size: 0.12rem;
            color: rgba(255, 255, 255, 0.7);
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }
        }

        .lw-num {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          img {
            width: 0.42rem;
            height: 0.54rem;
          }

          .num {
            font-size: 0.2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            font-family: PingFang SC, PingFang SC-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;
          }
        }

        .note-title {
          color: #27fef6
        }
      }

    }

    .hall-bg {
      position: relative;
      flex: 1;

      img {
        width: 100%;
        height: 100%;
      }

      .tx-group {
        position: absolute;
        top: 0.92rem;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 998;
        width: 100%;

        img {
          width: 1.4rem;
          height: 1.3rem;
          margin-right: 0.1rem;
        }
      }
    }

    .hall-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);

      .hall-note {
        color: #fff;
        margin: 0.05rem 0.1rem;
        padding-bottom: 0.1rem;

        border-bottom: 1px solid rgba(254, 255, 255, 0.2);

        .note-title {
          color: #27fef6
        }
      }

      span {
        color: #fff;
      }

      .operate-group {

        padding: 0.12rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .input-dm {

          input {
            color: #fff;
            width: 1.6rem;
            height: 0.33rem;
            background: rgba(0, 0, 0, 0.40);
            border: 1px solid #242424;
            border-radius: 0.06rem;
            padding-left: 0.1rem;
            margin-right: 0.15rem;

            &::-webkit-input-placeholder {
              color: rgba(254, 255, 255, 0.7);
            }
          }
        }

        .img-body {
          width: 0.32rem;
          height: 0.32rem;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.4);

          img {
            width: 100%;
            height: 100%;
          }
        }

      }
    }



  }
}


.lw-modal {
  .lw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1.8rem;
    background-color: #fff;

    .lw-img {
      width: 0.8rem;
      height: 0.8rem;
      border: 1px solid #cccccc;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .am-stepper-handler {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(238, 238, 238, 1);
    }

    .am-stepper-input-wrap {
      input {
        height: 100%;
        background: rgba(238, 238, 238, 1);
        border-radius: 2px;
      }
    }

    .send-num {
      margin: 0.1rem 0;
    }

    .message {
      font-size: 0.12rem;
      font-family: PingFang SC, PingFang SC-Medium;
      font-weight: 500;
      text-align: left;
      color: #999999;
    }
  }



  .modal-footer {
    display: flex;

    div {
      width: 50%;
      padding: 0.15rem;

      &.send {
        background: #05776f;
        color: #fff;
      }

      &.cancel {
        background: #eeeeee;
        color: #666666;
      }
    }
  }
}
