.home-bar {
  background-color: unset !important;
  color: #333333;
  font-weight: 800;



  .am-navbar-left,
  .am-navbar-right {
    svg {
      width: 0.24rem;
      height: 0.24rem;
    }

    span {
      color: black;
      font-size: 0.16rem;
    }
  }

  .am-navbar-title {
    font-size: .18rem;
    font-family: PingFang SC, PingFang SC-Heavy;
  }
}
