.edite-detail {
  .home-bar {
    svg {
      color: #fff !important;
    }

    .am-navbar-title {
      color: #fff;
    }
  }

  .list-top {
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }

    .top-head {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      vertical-align: middle;
      text-align: center;

      .am-flexbox {
        justify-content: center;

        .am-flexbox-item {
          flex: unset;
          width: 1rem;
          height: 1rem;
          margin-right: 0.1rem;

          &:nth-child(3),
          &:nth-child(4) {
            display: none;
          }
        }

      }
    }

    .head-one .am-flexbox-item {
      &:nth-child(2) {
        display: none;
      }
    }

    .head-upload,
    .am-image-picker-list,
    .am-flexbox {
      height: 100%;
    }

  }

  .detail-container {
    position: absolute;
    top: 1.9rem;
    left: 0.12rem;
    right: 0.12rem;
    padding: 0 0.1rem;
    z-index: 1000;
    background: #ffffff;
    border-radius: 5px;

    .am-list-line {
      &::after {
        content: '';
        position: absolute;
        background-color: #ddd;
        display: block;
        z-index: 1;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1PX;
      }
    }

    .am-list-item .am-input-label {
      color: #333;
    }

    .am-list-item .am-list-line .am-list-extra {
      color: #333;
    }

    .am-input-control input {
      text-align: right;

      &::-webkit-input-placeholder {
        color: #999;
      }
    }

    .radio-group {
      display: flex;
      align-items: center;
      height: 0.38rem;
      margin-bottom: 0.17rem;

      div {
        width: 43%;
        margin: 0 3%;
        font-size: 0.16rem;
        font-family: PingFang SC, PingFang SC-Heavy;
        font-weight: 800;
        text-align: center;
        color: rgba(51, 51, 51, 1);
        line-height: 0.3rem;
      }

      .line {
        width: 1px;
        height: 24px;
        opacity: 0.12;
        background: #000000;
      }

      .active {
        color: #05776f;
        border-bottom: 1px solid #05776f;
      }
    }

    .detail-title {
      display: flex;
      align-items: center;
      margin-bottom: 0.1rem;

      img {
        width: 0.05rem;
        height: 0.14rem;
        margin-right: 0.06rem;
      }

      span {
        font-size: 0.12rem;
        font-family: PingFang SC, PingFang SC-Medium;
        font-weight: 500;
        text-align: center;
        color: #05776f;
      }
    }

    .am-list-item,
    .name-input {
      flex: 1;
      padding-left: 0;
    }

    .am-textarea-control {
      padding-left: 0.1rem;
      border-top: 0 solid #fff !important;
      border-bottom: 0 solid #fff !important;

      textarea {
        text-align: right;
        color: #333;
        font-size: 0.16rem;
        font-family: unset;
      }
    }

    .am-textarea-item {
      border-bottom: 0.01rem solid #ddd;
    }

  }

  .detail-bg {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .bg-title {
      width: 100%;
    }

    .bg-radio {
      width: 30%;
      margin-right: 0.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        height: 1rem;
        border: 0.02rem solid transparent;
      }

      span {
        margin-top: 0.1rem;
        font-size: 0.15rem;
        font-family: PingFang SC, PingFang SC-Medium;
        font-weight: 500;
        text-align: center;
        color: #333333;
      }

      &.active {
        img {
          border: 0.02rem solid #05776f;
        }

        span {
          color: #05776f
        }
      }
    }
  }

  .detail-music {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .music-title {
      width: 100%;
    }

    .music-group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;

      img {
        display: none;
        width: 0.16rem;
        height: 0.16rem;
        margin-right: 0.06rem;
      }

      div {
        width: 49%;
        background: #f4f4f4;
        padding: 0.05rem 0.1rem;
        color: #333;
        text-align: center;
        border-radius: 0.06rem;
        margin: 0.08rem 0;
        font-size: 0.15rem;
        font-family: PingFang SC, PingFang SC-Medium;
        font-weight: 500;
        text-align: center;
        color: #333333;
        border: 1px solid transparent;


        &.active {
          img {
            display: unset;
          }

          background: #ebf4f3;
          border: 1px solid #05776f;
          border-radius: 3px;
          color: #05776f;
        }
      }
    }
  }

  .btn-footer {
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: center;


    .btn-del {
      width: 1.5rem;
      height: 0.4rem;
      line-height: 0.4rem;
      border: 1px solid #8f8f8f;
      border-radius: 0.06rem;
      background-color: #fff;
    }

    .btn-save {
      margin-right: 0.2rem;
      width: 1.5rem;
      height: 0.4rem;
      line-height: 0.4rem;
      border-radius: 0.06rem;
      background-color: rgba(5, 119, 111, 1);
      color: #fff;
    }
  }
}

.am-modal-mask,
.am-modal-wrap {
  z-index: 10001 !important;
}
